<h2>Your Roundups</h2>

<p>
  A 'Roundup' is a specification for a periodic notification from a list of Twitter accounts. Roundups are periodically refreshed and 'Reports' are sent via specified notification channels.
</p>

<p>
  <%= link_to 'New Roundup', new_roundup_path, class: "btn btn-success btn-lg" %>
</p>

<% unless @roundups.empty? %>
  <p>All your link roundups are listed below.</p>
<% end %>

<% @roundups.each_with_index.to_a.reverse.each do |roundup, index| %>
  <%= render 'roundup', roundup: roundup, index: index %>
<% end %>
